bin/
obj/
*.exe
*.dll
*.pdb
*.cache
*.config
ScaffoldingReadMe.txt
*.suo
*.user
*.userosscache
*.sln.docstates
.vs/
.vscode/
*.csproj.user
*.nupkg
**/packages/*
[Bb]uild[Ll]og.*
.DS_Store
Thumbs.db
*.log
appsettings.*.json
!appsettings.json
.idea/
$RECYCLE.BIN/
publish/
